*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #93A8AC;
    color: rgb(39, 37, 37);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex; 
    
    justify-content: center;
    align-items: center;

}
.game{
    height:60vmin ;
    width:60vmin ;
     display: flex; 
     flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin ;
    border-radius: 1rem;
    border: none;
    box-sizing: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color:#270605 ;
    background-color: dimgray;

}
#reset{
    padding: 1rem ;
    font-size: 1.35rem;
    background-color: rgb(39, 37, 37);
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#newgg{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(39, 38, 38); 
    color: #878383;
    border-radius: 1rem;
    border: none;

}
#msggg{
    color:#270605 ;
    font-size: 8vmin;
}
.msg-container{
    height: 25vmin;
}
.hide{
    display: none;
} 
